/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin-top: 50px; /* Para no tapar contenido por la barra de navegación fija */
}

/* Barra de navegación */
header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Logo */
.logo img {
    width: 100px;
}

/* Barra de enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #FF5722;
}

/* Icono de usuario */
.user-icon img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    /* Estilos de navegación y el ícono de hamburguesa */
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-icon {
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        position: relative;
        cursor: pointer;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
        width: 30px;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        transition: transform 0.3s ease;
    }

    .menu-icon::before {
        top: -10px;
    }

    .menu-icon::after {
        bottom: -10px;
    }

    .navbar.active .nav-links {
        display: flex;
    }

    .navbar.active .menu-icon {
        background-color: transparent;
    }

    .navbar.active .menu-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .navbar.active .menu-icon::after {
        transform: rotate(-45deg);
        bottom: 0;
    }
}
