/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Estilos de la tabla */
table {
    width: 80%;
    margin: 80px auto 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-config {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5722;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.btn-config:hover {
    background-color: #FF3D00;
}